@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');









body {
    
    width: 1280px;
    height: 720px;
    background-image: url(img/bg.jpg);
    
}
.kotak {
   
    text-align: center;
    margin-left: 120px;
    width: 1180px;
    height: 520px;
    
    
   

}
tr {
    color: white;
    margin-bottom: 20px;
   
   
}
.container {
    background-color: #449b9b;
    text-align: center;
    margin-left: 120px;
    width: 1180px;
    height: 47px;
    border-radius: 15px;
    


}
.duwur {
    margin-bottom: -10px;
    color: black;
}
button {
    margin-left: 1150px;
    margin-top: 150px;
    width: 150px;
}
h1 {
    color : rgb(255, 255, 255);
    font-family: 'Poppins';
    padding-left: 50%;
 


}